---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    <canvas id="stars-canvas"></canvas>
    <script src="/assets/js/stars.js"></script>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=BhmnICZnhFAgjPdmEK0FyRkUe1p1RQHdLMedLKAx6-c&cl=ffffff&w=a"></script>

  </body>
</html>
