/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background-color: var(--global-bg-color);
  background-image: var(--global-bg-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: fit-content;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: var(--global-border-color);
    width: 100%;
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.5em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }

  .greedy-nav--no-collapse {
    display: flex;
    align-items: center;
    justify-content: center;

    > button,
    .hidden-links {
      display: none !important;
    }

    .visible-links {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1.25rem;
      width: 100%;
    }
  }
}

.masthead__menu-item {
  background-color: transparent;
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    margin: 0 1.5rem;
    font-size: 1.35rem;
    font-weight: 700;
  }
}
